/* Modal para el hud de Player*/

.modal_padre_player{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #120855bb;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
    --transform: translateY(-100vh);
    --transition: --transform .8s;
}

.modal_cuerpo_player{
    margin: 35px;
    width: 90%;
    max-width: 300px;
    max-height: 507px;
    border-radius: 16px;
    border: 5px solid #d3ad90;
    background: radial-gradient(circle, rgb(255, 119, 171) 0%, rgb(255 255 255) 100%);
    place-items: center;
    transform: var(--transform);
    transition: transform .3s;
    overflow: auto;
}


.gridParaElHudDePlayer{
    display: grid;
    padding-left: 37px;
    padding-top: 20px;
}


.modal--show_player{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
}

.divParaElCloseDeLaTienda{
    margin-left: 73px;
}






/* Elegir personajes */

.mina{
    width: 0px;
    height: 0px;
    margin-left: 232px;
}

.mina_no_href{
    pointer-events: none;
}

.mina_si_href{
    pointer-events: unset;
}

.mina_si{
    width: 63px;
    height: 63px;
    margin-left: 193px;
    margin-top: -22px;
    transition: width 1s;
}

.personaje_chico{
    width: 100px;
    height: 100px;
    opacity: 0;
    border: 2px solid #7e3a14;
    padding: 3px;
    border-radius: 8px;
    background: #fff6ed;
    box-shadow: 0px 4px 5px -1px #81553f7a;
}

.personaje_chica{
    width: 100px;
    height: 100px;
    margin-left: 132px;
    margin-top: -85px;
    position: relative;
    opacity: 0;
}

.characters{
    width: 75px;
    height: 75px;
    opacity: 1;
    border: 2px solid #7e3a14;
    padding: 3px;
    border-radius: 8px;
    background: #fff6ed;
    box-shadow: 0px 4px 5px -1px #81553f7a;
}

.eligio_chica{
    margin-left: 75px;
    margin-top: -55px;
    transition: margin-left 1s;
}

.eligio_chico{
    margin-left: 71px;
    margin-top: -53px;
    transition: margin-left 1s;
}

.character_no{
    opacity: 0;
    pointer-events: none;
    margin-top: -216px;
}

.infoDelPlayer_texto{
    font-size: 0px;
}

.infoDelPlayer_si{
    box-shadow: 1px 1px 6px 1px #fbf0cd;
    border-radius: 9px;
    border: 2px solid #ffba00;
    margin-right: 33px;
    padding-bottom: 115px;
    margin-top: 18px;
    background: #ffffff63;
}

.infoDelPlayer_texto_si{
    font-size: 20px;
    color: #442907;
    padding-left: 7px;
    margin: 9px;
}

.boton_close_player{
    text-decoration: none;
    color: #120855;
    padding: 5px 15px;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    box-shadow: 2px 1px;
    margin-top: 317px;
    margin-left: 68px;
}

.boton_close_player_si{
    text-decoration: none;
    color: #120855;
    padding: 5px 15px;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    box-shadow: 2px 1px;
    margin-left: 72px;
    margin-top: 101px;
}

.divDelNivelDelPlayer{
    box-shadow: 1px 1px 6px 1px #fbf0cd;
    border-radius: 9px;
    height: 30px;
    width: 61px;
    border: 2px solid #ffba00;
}

.nivelDelPlayer{
    margin-left: 23px;
    margin-top: 7px;
}







/* MODAL de la tienda*/

.modal_padre_tienda{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #120855bb;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
    --transform: translateY(-100vh);
    --transition: --transform .8s;
}

.modal_cuerpo_tienda{
    display: grid;
    margin: 35px;
    width: 90%;
    max-width: 230px;
    max-height: 495px;
    border-radius: 6px;
    padding: 1em 2.5em;
    background: radial-gradient(circle, rgb(99 224 255) 0%, rgb(255 255 255) 100%);
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition: transform .3s;
}

.boton_close_tienda{
    text-decoration: none;
    color: #120855;
    padding: 5px 15px;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    box-shadow: 2px 1px;
}

.modal--show_1{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
}

.divParaElCloseDeLaTienda{
    margin-left: 73px;
}

/* Cofres de la tienda */

.divPadreDeLosItemsDeLaTienda{
    padding-right: 1px;

}

.itemDeLaTienda_1{
    border: 3px solid rgb(16, 2, 54);
    box-shadow: 2px 1px;
    border-radius: 11px;
    width: 91px;
    margin-left: 59px;
    display: grid;
}

.cofres{
    width: 80px;
    height: 80px;
    padding: 5px 5px 5px 5px;
}

/* Mostrar informacion de los cofres de la tienda */

.itemDeLaTienda_madera{
    margin-left: -21px;

    width: 237px;
    transition: width 0.7s;

    display: grid;
    grid-template-columns: 39% 15%;
    /*falta la transicion*/
}

.a1px{
    font-size: 0px;
}

.a2px{
    font-size: 13px;
    margin-block-start: 6px;
    margin-block-end: 0px;
    padding: 2px;
}

.comprarCofreDeMadera{
    color: green;
    font-size: 15px;
}

.EstatsDelCofreDeMadera{
    border: 1px solid rgb(16, 2, 54);
    box-shadow: 1px 0.5px;
    border-radius: 11px;
    margin: 7px -9px 6px 0px;
    width: 133px;
    height: 75px;
}







/*Inventario*/

.modal_padre_inventario{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #120855bb;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
    --transform: translateY(-100vh);
    --transition: --transform .8s;
}

.modal_cuerpo_inventario{
    margin: 35px;
    width: 90%;
    max-width: 300px;
    max-height: 507px;
    border-radius: 16px;
    border: 5px solid #d3ad90;
    background: radial-gradient(circle, rgb(255 195 133) 0%, rgb(255 255 255) 100%);
    place-items: center;
    transform: var(--transform);
    transition: transform .3s;
    overflow: auto;
}

.boton_close_inventario{
    text-decoration: none;
    color: #120855;
    padding: 5px 15px;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    box-shadow: 2px 1px;
    margin-left: 207px;
}

.gridParaElInventario{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: 106px;
    padding-left: 14px;
    padding-top: 20px;
}

.itemDelInventario{
    width: 75px;
    height: 75px;
    opacity: 0;
    border: 2px solid #7e3a14;
    padding: 3px;
    border-radius: 8px;
    background: #fff6ed;
    box-shadow: 0px 4px 5px -1px #81553f7a;
}

.itemDelInventario_mostrar{
    opacity: 1;
}

.divParaElCloseDelInventario{
    padding-top: 363px;
    margin-left: -96px;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
}

/* Items en el inventario */









/* MODAL de Logros (Que es Setings en realidad)*/

.modal_padre_logros{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #120855bb;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
    --transform: translateY(-100vh);
    --transition: --transform .8s;
}

.modal_cuerpo_logros{
    margin: 35px;
    width: 90%;
    max-width: 600px;
    max-height: 400px;
    border-radius: 6px;
    padding: 3em 2.5em;
    background: radial-gradient(circle, rgb(224 146 249) 0%, rgb(255 250 220) 100%);
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition: transform .3s;
}

.boton_close_logros{
    text-decoration: none;
    color: #120855;
    padding: 5px 15px;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    box-shadow: 2px 1px;
    width: 35px;
}

.divParaElCloseDeLogros{
    padding-top: 218px;
}

.modal--show_2{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
}

.logrosIcono{
    width: 44px;
    height: 44px;
}

/* Dentro de logos (Setings) */

.p_delSoundtrack{
    font-size: 26px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 13px;
}

.contenedorDel_p_delSoundtrack{
    border: 1px solid #120855;
    border-radius: 11px;
    box-shadow: 2px 4px 9px;
    width: 170px;
}

.contenedorDel_p_delSoundtrack:active{
    background-color: rgba(59, 53, 145, 0.329);
    width: 169px;
}


/*chat*/

.contenedorDel_Chat{
    border: 1px solid #120855;
    border-radius: 11px;
    box-shadow: 2px 4px 9px;
    margin-top: 25px;
    width: 170px;
}

.p_delChat{
    font-size: 26px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 13px;
}

.contenedorDel_Chat:active{
    background-color: rgba(59, 53, 145, 0.329);
    width: 169px;
}